<!doctype html>
<!--[if lt IE 7]>   <html class="no-js ie lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en" dir="ltr">    <![endif]-->
<!--[if IE 7]>      <html class="no-js ie lt-ie10 lt-ie9 lt-ie8" lang="en" dir="ltr">           <![endif]-->
<!--[if IE 8]>      <html class="no-js ie lt-ie10 lt-ie9" lang="en" dir="ltr">                  <![endif]-->
<!--[if IE 9]>      <html class="no-js ie lt-ie10" lang="en" dir="ltr">                         <![endif]-->
<!--[if gt IE 9]>
    <!-->           <html class="no-js" lang="en" dir="ltr">                                <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel='stylesheet' href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" />
    <link rel="stylesheet" href="style/css/main.css" />
    <title>osRouter</title>
    <meta name="description" content="OpenSource router, so you don't need to think about not using Google" />
</head>
<body>
    
    <header id="header">
    	<p>osRouter</p>
    </header>

    <article>
        <aside>

            <!-- Navigation -->
            <nav>
                <ul id="router-nav" class="views">
                    <li class="on" id="view-plan">Plan</li><li id="view-directions">Directions</li>
                </ul>
            </nav>

            <div class="panel">

                <!-- Plan -->
                <div class="inner" id="router-plan">
                    <form method="get" id="plan-form">
                        
                        <fieldset class="points">
                            <legend>Enter your start &amp; end points</legend>
                            <p><label for="router-a">A:</label> <input type="search" id="router-a" name="a" class="txt" value="Bordon" /></p>
                            <p><label for="router-b">B:</label> <input type="search" id="router-b" name="b" class="txt" value="Eastleigh" /></p>
                        </fieldset>
                        
                        <fieldset class="type">
                            <legend>Route Type</legend>
                            <p>
                                <label><input type="radio" name="r" value="shortest" checked="checked"/> Shortest</label>
                                <label><input type="radio" name="r" value="fastest" /> Fastest</label>
                            </p>
                        </fieldset>
                        
                        <p><input type="submit" value="Get Route" class="btn primary" /></p>
                        
                    </form>
                </div>

                <!-- Directions -->
                <div class="inner hide" id="router-directions"></div>

            </div>

        </aside>
        <div id="map"></div>
    </article>


    <!-- Templates -->

    <script type="text/html" id="tmpl_point">
        <strong><%=address%></strong>
    </script>


    <script type="text/html" id="tmpl_maneuver">
        <ol class="map-maneuver" start="<%=i%>">
            <li><%=maneuver%></li>
        </ol>
    </script>


    <script type="text/html" id="tmpl_maneuvers">

        <ul class="route-info">
            <li class="distance">Distance: <%=distance%> miles</li>
            <li class="time">Est. time:<%=time%></li> 
            <li class="cost">Est. cost: &pound;<%=cost%></li>
        </ul>


        <h2>Suggested route to <%=end.name%></h2>
        <div class="maneuvers">
            <table>
                <thead>
                    <tr class="start-point">
                        <td class="icon"></td>
                        <td class="location" colspan="2"><%=start.name%></td>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i=0; i<maneuvers.length; i++) { %>
                        <%
                            num = parseInt(i, 10)+1;
                            if (maneuvers[i].distance < 0.1) maneuvers[i].distance = '<0.1';
                            else maneuvers[i].distance = Math.round(maneuvers[i].distance * 10) / 10;
                        %>
                        <tr class="maneuver" data-maneuver="<%=i%>">
                            <td class="stepnum"><%=num%></td>
                            <td class="instructions"><%=maneuvers[i].narrative%></td>
                            <td class="distance"><%=maneuvers[i].distance%> miles</td>
                        </tr>
                    <% } %>
                </tbody>
                <tfoot>
                    <tr class="end-point">
                        <td class="icon"></td>
                        <td class="location" colspan="2"><%=end.name%></td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <p class="center"><small><%=copyright %></small></p>

    </script>


    <!-- Inline JS -->

    <script>
        var jsDebugging = true;

        /**
         * Console Debugging - to use console.* set `jsDebugging` to true
         */
        if (typeof console === 'undefined' || typeof jsDebugging === 'undefined') {
            var console = { log: function() {} };
        }else if (!jsDebugging || typeof console.log == "undefined") {
            console.log = function() {};
        }
    </script>
    
    <!-- Define Javascript Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.4.2/leaflet.js"></script>

    <!-- Define modules -->
    <script src="script/module/dialog.js"></script>
    <script src="script/module/tmpl.js"></script>

    <!-- Define Router -->
    <script src="script/router/base.js"></script>
    <script src="script/router/config.js"></script>
    <script src="script/router/json.js"></script>
    <script src="script/router/menu.js"></script>
    <script src="script/router/map.js"></script>
    <script src="script/router/geocode.js"></script>

    <!-- Define our CTA script -->
    <script src="script/main.js"></script>
   

</body>
</html>