///
// Config
// @file config.less
// 
// Variables for style elements
// 
// Contents:
// 
// 	+ Font Definitions
// 	++ Document Serif Family
// 	++ Document San-Serif Family
// 	++ Documet Monospaced Family
// 	++ Document Font Family
// 	++ Document Font Size (Base)
// 	
// 	+ Site Measurements
// 	++ Default Site Width
// 	
// 	+ File & Folder Paths
// 	++ Sprite Image
// 	++ Image Directory
//  
//  + Site Colours
//  ++ Document Font Color
//  ++ Document Background Color
//  ++ Mouse Selector Background
//  ++ Mouse selector font colour
//  


///////////////////////////////////////////////////////////////////////////////
// Font Definitions
///////////////////////////////////////////////////////////////////////////////

///
// Document Serif Family
// @type Font
// 
@docSerifFamily: Georgia, 'Times New Roman', Times, serif;


///
// Document San-Serif Family
// Sans-Serif == Helvetica, Arial >> http://css-tricks.com/sans-serif/
// @type Font
// 
@docSansSerifFamily: 'Source Sans Pro', Sans-Serif;


///
// Documet Monospaced Family
// @type Font
// 
@docMonospacedFamily: 'Bitstream Vera Sans Mono', Courier, monospace;


///
// Document Font Family
// @type Font
// 
@docFontFamily: @docSansSerifFamily;


///////////////////////////////////////////////////////////////////////////////
// Site Measurements
///////////////////////////////////////////////////////////////////////////////


///
// Default Site Width
// @type PX
// 
@defaultSiteWidth: 960px;


///////////////////////////////////////////////////////////////////////////////
// File & Folder Paths
///////////////////////////////////////////////////////////////////////////////


///
// Sprite Image
// @type Path
// 
@spriteImg: 'spite.png';


///
// Image Directory
// @type Path
// 
@imgDir: '../../img';


///////////////////////////////////////////////////////////////////////////////
// Site Colours
///////////////////////////////////////////////////////////////////////////////


///
// Document Font Color
// @type Hex
// 
@docFontColor: #404040;


///
// Document Background Color
// @type Hex
// 
@docBackgroundColor: #EFEFEF;


///
// Mouse Selector Background
// @type Hex
// 
@selectBG: #C09;


///
// Mouse selector font colour
// @type Hex
// 
@selectColor: #DDD;