/**
 * Aside
 * @file aside.less
 * 
 * [description]
 *
 * Contents:
 *  + Aside specifics
 *  + Plan Route Group
 *  + Route Info
 *  + Maneuvers
 *  + Maneuver
 */


/*****************************************************************************/

/**
 * Aside Specifics
 */
aside {
	background: #EEE url('http://noisepng.com/100-30-2-monochrome.png');
	.inner {
		margin: 10px;
	}
	.panel {
		overflow-x: auto;
		margin-top: 10px;
	}
}


/*****************************************************************************/


/**
 * Plan Group
 */
#plan-form {

	fieldset {
		margin: 20px 0;
		border: 0;
	}
	legend {
		font-size: 1.5em;
		font-weight: 600;
	}

	label {
		font-size: 1.3em;
	}

	.btn {
		width: 100%;
		font-size: 1.7em;
	}

	p {
		label:nth-child(2) {
			margin-left: 20px;
		}
	}

	.points {
		.txt {
			width: 230px;
			padding: 0 0.2em;
			font-size: 1.3em;
			padding-top: 6px;
			padding-bottom: 6px;
		}

		label {
			display: inline-block;
			width: 25px;
		}
	}

}


/*****************************************************************************/


/**
 * Route Info
 */
.route-info {
	list-style: none;
	color: #9a9a9a;
	margin: 0;
	padding: 0;
	.directions {
	}
	.distance, .time {
		color: #9a9a9a;
	}
	.cost {
		font-weight: 700;
	}
}


/*****************************************************************************/


/**
 * Maneuvers
 */
.maneuvers {
	border-top: 1px solid #f2f2f2;
	margin: 0 -10px;
	padding: 0;
	border: 0;

	td {
		border: 0;
		padding: 5px 0;
	}
	thead td, tfoot td {
		background: #f2f2f2;
		text-align: center;
		font-size: 1.2em;
	}
	tfoot {
		border-top: 1px solid #f2f2f2;
	}
	tbody {
		tr:hover td {
			cursor: pointer;
			background: #E8F6FE;
		}
		tr.selected td {
			background: #f4fbfe;
		}
	}
}


/*****************************************************************************/


/**
 * Maneuver
 */
.maneuver {
	td {
		border-bottom: 1px solid #f2f2f2;
		vertical-align: top;
	}
	.stepnum {
		text-align: right;
		padding-right: 15px;
		font-weight: 700;
		width: 20px;
	}
	.distance {
		color: #9A9A9A;
		width: 75px;
		text-align: right;
	}
}


/*****************************************************************************/