/**
 * Generic Form Elements
 * @file form.less
 * 
 * Styling for all form elements
 *
 * Contents:
 * 	+ Text Field
 *  + Button
 */


/*****************************************************************************/


/**
 * Text Field
 */
.txt {
	@shadow: inset 0 4px 7px rgba(0,0,0,.1);
	.box-shadow(@shadow);
}


/*****************************************************************************/


/**
 * Button
 */
.btn {
	*overflow: visible;
	cursor: pointer;
	padding: 0 14px;
	font-weight: 700;
	text-shadow: 0 1px 1px rgba(255,255,255,.7);
	color: #333;

	@shadow: inset 0 0 2px #FFF;//, 0 2px 1px rgba(0, 0, 0, 0.2);
	.box-shadow(@shadow);

	#gradient > .vertical(#FFF, darken(#FFF, 10%));
	
	&:hover {
		background-position: 0 -10px;
		color: #333;
		text-decoration: none;
	}
	
	// Primary Button Type
	// Do this after :hover due to colour order
	&.primary {
		color: #FFF;
		text-shadow: 0 1px 1px rgba(0,0,0,.5);
    	border-color: #518800;
		#gradient > .vertical(#badc77, #8abb24);
	}
	
	&:active {
		.box-shadow(inset 0 2px 5px rgba(0,0,0,.2));
		position: relative;
		top: 1px;
	}
	
	&.disabled {
		cursor: default;
		background-image: none;
		.reset-filter();
		.opacity(65);
		.box-shadow(none);
	}
	
	&[disabled] {
		// disabled pseudo can't be included with .disabled
		// def because IE8 and below will drop it ;_;
		cursor: default;
		background-image: none;
		.reset-filter();
		.opacity(65);
		.box-shadow(none);
	}
	
	// Super jank hack for removing border-radius from IE9 so we can keep filter gradients on alerts and buttons
	:root & {
		border-radius: 0 \0;
	}

	
	// Help Firefox not be a jerk about adding extra padding to buttons
	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}

	&:focus,
	&:active {
		position:relative;
	//	top:1px;
	}
}


/*****************************************************************************/