/**
 * Layout
 * @file layout.less
 * 
 * Originally written by Nicolas Gallagher and Jonathan Neal, I've added a few
 * additions for long term browser support and improved documentation
 *
 * Contents:
 * 	+ Header
 * 	+ Footer
 * 	+ Article
 * 	+ Aside
 * 	+ Map
 */


/*****************************************************************************/

/**
 * Header
 */
#header {
	position: relative;
	z-index: 9;
	color: #FFF;

	#gradient > .vertical (#C09, darken(#C09, 5%));
	.box-shadow(0 0 10px rgba(0,0,0,.7));
}


/*****************************************************************************/


/**
 * Footer
 */
#footer {

}


/*****************************************************************************/


/**
 * Article
 */
article {
	background: #FEFEFE;
	.clearfix();
}


/*****************************************************************************/


/**
 * Aside
 */
aside {
	float: left;
	width: 320px;
	padding: 0;
}


/*****************************************************************************/


/**
 * Map
 */
#map {
	width: 100%;
	height: 100%;
	float: right;
	border-left: 1px solid #CCC;
}


/*****************************************************************************/