.views {
	@navWidth: 300px;
	border: 1px solid #CCC;
	padding: 7px 0;
	width: @navWidth;
	margin: 10px auto 0;
	position: relative;

	@shadow: inset 0 0 2px #FFF;
	.box-shadow(@shadow);
	.rounded(5px);
	#gradient > .vertical (#F4F4F4, darken(#F4F4F4, 10%));

	li {
		padding: 0;
		margin: 0;
		font-weight: 600;
		display: inline-block;
		width: (@navWidth - 2)/2;
		text-align: center;
		text-shadow: 1px 1px 1px #FFF;
		color: #AAA;
		cursor: pointer;
			border-left: 1px solid #EEE;
		&:first-child {
			border-right: 1px solid #DDD;
			border-left: 0;
		}
		&:active {
			position: relative;
			top: 1px;
		}
	}
	.on {
		color: @docFontColor;
	}
	.arrow {
		position: absolute;
		top: 34px;
		left: 65px;
	}
}