.hide {
	display: none;
	visibility: hidden;
}

.arrow {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid darken(#F4F4F4, 10%);
}

.map-maneuver {
	margin: 0;
	padding: 0 10px;
}