
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html,button,input,select,textarea{font-family:'Source Sans Pro',Sans-Serif;line-height:1.5em;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;font-size:87.5%;-webkit-text-size-adjust:87.5%;-ms-text-size-adjust:87.5%;color:#404040;}
html,body{margin:0;padding:0;height:100%;background:#efefef;overflow-x:hidden;overflow-y:auto;}
body{overflow-y:hidden;}
a{color:#C01;}
a:focus{outline:thin dotted;}
a:hover,a:active{outline:0;}
h1,h2,h3,h4,h5,h6{margin:0;line-height:1em;padding-bottom:0.5em;}
h1{font-size:3em;line-height:1.2em;padding-bottom:0.3em;}
h2{font-size:1.4em;padding-top:1em;}
p{text-align:justify;}
p,pre{margin:0;padding:0.5em 0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
pre,code,kbd,samp{font-family:'Bitstream Vera Sans Mono',Courier,monospace;_font-family:'courier new',monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:'';content:none;}
small{font-size:75%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
dl,menu,ol,ul{margin:1em 0;}
dd{margin:0 0 0 40px;}
menu,ol,ul{padding:0 0 0 40px;}
nav ul,nav ol{list-style:none;list-style-image:none;}
img{border:0;-ms-interpolation-mode:bicubic;max-width:100%;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
form{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;border:1px solid #CCC;}
button:focus,input:focus,select:focus,textarea:focus{outline:0;}
button,input{line-height:1.5em;}
.btn,button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible;}
label{cursor:pointer;}
.btn.disabled,button[disabled],input[disabled]{cursor:default;}
.checkbox,.radio,input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}
.btn.search,input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
::-moz-selection{background:#cc0099;color:#dddddd;text-shadow:none;}
::selection{background:#cc0099;color:#dddddd;text-shadow:none;}
.txt{-webkit-box-shadow:inset 0 4px 7px rgba(0, 0, 0, 0.1);-moz-box-shadow:inset 0 4px 7px rgba(0, 0, 0, 0.1);box-shadow:inset 0 4px 7px rgba(0, 0, 0, 0.1);}
.btn{*overflow:visible;cursor:pointer;padding:0 14px;font-weight:700;text-shadow:0 1px 1px rgba(255, 255, 255, 0.7);color:#333;-webkit-box-shadow:inset 0 0 2px #ffffff;-moz-box-shadow:inset 0 0 2px #ffffff;box-shadow:inset 0 0 2px #ffffff;background-color:#e6e6e6;background-repeat:repeat-x;background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6);background-image:-ms-linear-gradient(top, #ffffff, #e6e6e6);background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);background-image:linear-gradient(top, #ffffff, #e6e6e6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);}.btn:hover{background-position:0 -10px;color:#333;text-decoration:none;}
.btn.primary{color:#FFF;text-shadow:0 1px 1px rgba(0, 0, 0, 0.5);border-color:#518800;background-color:#8abb24;background-repeat:repeat-x;background-image:-webkit-linear-gradient(top, #badc77, #8abb24);background-image:-moz-linear-gradient(top, #badc77, #8abb24);background-image:-ms-linear-gradient(top, #badc77, #8abb24);background-image:-o-linear-gradient(top, #badc77, #8abb24);background-image:linear-gradient(top, #badc77, #8abb24);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#badc77', endColorstr='#8abb24', GradientType=0);}
.btn:active{-webkit-box-shadow:inset 0 2px 5px rgba(0, 0, 0, 0.2);-moz-box-shadow:inset 0 2px 5px rgba(0, 0, 0, 0.2);box-shadow:inset 0 2px 5px rgba(0, 0, 0, 0.2);position:relative;top:1px;}
.btn.disabled{cursor:default;background-image:none;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);-webkit-opacity:0.65;-moz-opacity:0.65;opacity:0.65;filter:alpha(opacity=65);-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.btn[disabled]{cursor:default;background-image:none;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);-webkit-opacity:0.65;-moz-opacity:0.65;opacity:0.65;filter:alpha(opacity=65);-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
:root .btn{border-radius:0 \0;}
.btn::-moz-focus-inner{padding:0;border:0;}
.btn:focus,.btn:active{position:relative;}
#header{position:relative;z-index:9;color:#FFF;background-color:#b30086;background-repeat:repeat-x;background-image:-webkit-linear-gradient(top, #cc0099, #b30086);background-image:-moz-linear-gradient(top, #cc0099, #b30086);background-image:-ms-linear-gradient(top, #cc0099, #b30086);background-image:-o-linear-gradient(top, #cc0099, #b30086);background-image:linear-gradient(top, #cc0099, #b30086);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc0099', endColorstr='#b30086', GradientType=0);-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.7);-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.7);box-shadow:0 0 10px rgba(0, 0, 0, 0.7);}
article{background:#FEFEFE;}article:after{content:'\0020';display:block;height:0;clear:both;visibility:hidden;}
.ie article{zoom:1;}
aside{float:left;width:320px;padding:0;}
#map{width:100%;height:100%;float:right;border-left:1px solid #CCC;}
.views{border:1px solid #CCC;padding:7px 0;width:300px;margin:10px auto 0;position:relative;-webkit-box-shadow:inset 0 0 2px #ffffff;-moz-box-shadow:inset 0 0 2px #ffffff;box-shadow:inset 0 0 2px #ffffff;-webkit-border-radius:5px;-webkit-background-clip:padding-box;-moz-border-radius:5px;-moz-background-clip:padding;border-radius:5px;background-clip:padding-box;background-color:#dbdbdb;background-repeat:repeat-x;background-image:-webkit-linear-gradient(top, #f4f4f4, #dbdbdb);background-image:-moz-linear-gradient(top, #f4f4f4, #dbdbdb);background-image:-ms-linear-gradient(top, #f4f4f4, #dbdbdb);background-image:-o-linear-gradient(top, #f4f4f4, #dbdbdb);background-image:linear-gradient(top, #f4f4f4, #dbdbdb);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#dbdbdb', GradientType=0);}.views li{padding:0;margin:0;font-weight:600;display:inline-block;width:149px;text-align:center;text-shadow:1px 1px 1px #FFF;color:#AAA;cursor:pointer;border-left:1px solid #EEE;}.views li:first-child{border-right:1px solid #DDD;border-left:0;}
.views li:active{position:relative;top:1px;}
.views .on{color:#404040;}
.views .arrow{position:absolute;top:34px;left:65px;}
#header p{text-align:center;font-size:2em;padding:10px 0;font-weight:700;}
aside{background:#eeeeee url('http://noisepng.com/100-30-2-monochrome.png');}aside .inner{margin:10px;}
aside .panel{overflow-x:auto;margin-top:10px;}
#plan-form fieldset{margin:20px 0;border:0;}
#plan-form legend{font-size:1.5em;font-weight:600;}
#plan-form label{font-size:1.3em;}
#plan-form .btn{width:100%;font-size:1.7em;}
#plan-form p label:nth-child(2){margin-left:20px;}
#plan-form .points .txt{width:230px;padding:0 0.2em;font-size:1.3em;padding-top:6px;padding-bottom:6px;}
#plan-form .points label{display:inline-block;width:25px;}
.route-info{list-style:none;color:#9a9a9a;margin:0;padding:0;}
.route-info .distance,.route-info .time{color:#9a9a9a;}
.route-info .cost{font-weight:700;}
.maneuvers{border-top:1px solid #f2f2f2;margin:0 -10px;padding:0;border:0;}.maneuvers td{border:0;padding:5px 0;}
.maneuvers thead td,.maneuvers tfoot td{background:#f2f2f2;text-align:center;font-size:1.2em;}
.maneuvers tfoot{border-top:1px solid #f2f2f2;}
.maneuvers tbody tr:hover td{cursor:pointer;background:#E8F6FE;}
.maneuvers tbody tr.selected td{background:#f4fbfe;}
.maneuver td{border-bottom:1px solid #f2f2f2;vertical-align:top;}
.maneuver .stepnum{text-align:right;padding-right:15px;font-weight:700;width:20px;}
.maneuver .distance{color:#9A9A9A;width:75px;text-align:right;}
.hide{display:none;visibility:hidden;}
.arrow{width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-top:10px solid #dbdbdb;}
.map-maneuver{margin:0;padding:0 10px;}
.dialog-box{position:fixed;top:40%;left:50%;padding:15px 20px;border-width:1px;border-style:solid;border-color:#CCC;text-align:center;font-weight:400;max-width:60%;background-color:#e7e7e7;background-repeat:repeat-x;background-image:-webkit-linear-gradient(top, #f4f4f4, #e7e7e7);background-image:-moz-linear-gradient(top, #f4f4f4, #e7e7e7);background-image:-ms-linear-gradient(top, #f4f4f4, #e7e7e7);background-image:-o-linear-gradient(top, #f4f4f4, #e7e7e7);background-image:linear-gradient(top, #f4f4f4, #e7e7e7);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#e7e7e7', GradientType=0);-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.25),0 0 100px rgba(0, 0, 0, 0.5);-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.25),0 0 100px rgba(0, 0, 0, 0.5);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.25),0 0 100px rgba(0, 0, 0, 0.5);-webkit-border-radius:6px;-webkit-background-clip:padding-box;-moz-border-radius:6px;-moz-background-clip:padding;border-radius:6px;background-clip:padding-box;}.dialog-box p{text-align:center;}
.dialog-box .btn{margin:0 10px;font-weight:400;}
.no-js .dialog-box{display:block;position:relative;}
.dialog-box.success,.dialog-box.error{color:#FFF;text-shadow:0 1px 0 rgba(0, 0, 0, 0.5);}
.dialog-box.success{background-color:#346634;background-repeat:repeat-x;background-image:-webkit-linear-gradient(top, #62c462, #346634);background-image:-moz-linear-gradient(top, #62c462, #346634);background-image:-ms-linear-gradient(top, #62c462, #346634);background-image:-o-linear-gradient(top, #62c462, #346634);background-image:linear-gradient(top, #62c462, #346634);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#346634', GradientType=0);border-color:#458845;}
.dialog-box.error{background-color:#74231f;background-repeat:repeat-x;background-image:-webkit-linear-gradient(top, #ee5f5b, #74231f);background-image:-moz-linear-gradient(top, #ee5f5b, #74231f);background-image:-ms-linear-gradient(top, #ee5f5b, #74231f);background-image:-o-linear-gradient(top, #ee5f5b, #74231f);background-image:linear-gradient(top, #ee5f5b, #74231f);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#74231f', GradientType=0);border-color:#9c302a;}
#dialog-wrapper{position:fixed;top:0;left:0;z-index:999;width:100%;height:100%;background:rgba(0, 0, 0, 0.7);}
.leaflet-map-pane,.leaflet-tile,.leaflet-marker-icon,.leaflet-marker-shadow,.leaflet-tile-pane,.leaflet-overlay-pane,.leaflet-shadow-pane,.leaflet-marker-pane,.leaflet-popup-pane,.leaflet-overlay-pane svg,.leaflet-zoom-box,.leaflet-image-layer,.leaflet-layer{position:absolute;}
.leaflet-container{overflow:hidden;outline:0;}
.leaflet-tile,.leaflet-marker-icon,.leaflet-marker-shadow{-moz-user-select:none;-webkit-user-select:none;user-select:none;}
.leaflet-marker-icon,.leaflet-marker-shadow{display:block;}
.leaflet-clickable{cursor:pointer;}
.leaflet-dragging,.leaflet-dragging .leaflet-clickable{cursor:move;}
.leaflet-container img{max-width:none !important;}
.leaflet-container img.leaflet-image-layer{max-width:15000px !important;}
.leaflet-tile-pane{z-index:2;}
.leaflet-objects-pane{z-index:3;}
.leaflet-overlay-pane{z-index:4;}
.leaflet-shadow-pane{z-index:5;}
.leaflet-marker-pane{z-index:6;}
.leaflet-popup-pane{z-index:7;}
.leaflet-tile{filter:inherit;visibility:hidden;}
.leaflet-tile-loaded{visibility:inherit;}
.leaflet-zoom-box{width:0;height:0;}
.leaflet-control{position:relative;z-index:7;pointer-events:auto;}
.leaflet-top,.leaflet-bottom{position:absolute;z-index:7;pointer-events:none;}
.leaflet-top{top:0;}
.leaflet-right{right:0;}
.leaflet-bottom{bottom:0;}
.leaflet-left{left:0;}
.leaflet-control{float:left;clear:both;}
.leaflet-right .leaflet-control{float:right;}
.leaflet-top .leaflet-control{margin-top:10px;}
.leaflet-bottom .leaflet-control{margin-bottom:10px;}
.leaflet-left .leaflet-control{margin-left:10px;}
.leaflet-right .leaflet-control{margin-right:10px;}
.leaflet-control-zoom{-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;}
.leaflet-control-zoom{padding:5px;background:rgba(0, 0, 0, 0.25);}
.leaflet-control-zoom a{background-color:rgba(255, 255, 255, 0.75);}
.leaflet-control-zoom a,.leaflet-control-layers a{background-position:50% 50%;background-repeat:no-repeat;display:block;}
.leaflet-control-zoom a{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;width:19px;height:19px;}
.leaflet-control-zoom a:hover{background-color:#fff;}
.leaflet-touch .leaflet-control-zoom a{width:27px;height:27px;}
.leaflet-control-zoom-in{background-image:url('../../img/zoom-in.png');margin-bottom:5px;}
.leaflet-control-zoom-out{background-image:url('../../img/zoom-out.png');}
.leaflet-control-layers{box-shadow:0 1px 7px #999;background:#f8f8f9;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;}
.leaflet-control-layers a{background-image:url('../../img/layers.png');width:36px;height:36px;}
.leaflet-touch .leaflet-control-layers a{width:44px;height:44px;}
.leaflet-control-layers .leaflet-control-layers-list,.leaflet-control-layers-expanded .leaflet-control-layers-toggle{display:none;}
.leaflet-control-layers-expanded .leaflet-control-layers-list{display:block;position:relative;}
.leaflet-control-layers-expanded{padding:6px 10px 6px 6px;font:12px/1.5 "Helvetica Neue",Arial,Helvetica,sans-serif;color:#333;background:#fff;}
.leaflet-control-layers input{margin-top:2px;position:relative;top:1px;}
.leaflet-control-layers label{display:block;}
.leaflet-control-layers-separator{height:0;border-top:1px solid #ddd;margin:5px -10px 5px -6px;}
.leaflet-container .leaflet-control-attribution{background-color:rgba(255, 255, 255, 0.7);box-shadow:0 0 5px #bbb;margin:0;}
.leaflet-control-attribution,.leaflet-control-scale-line{padding:0 5px;color:#333;}
.leaflet-container .leaflet-control-attribution,.leaflet-container .leaflet-control-scale{font:11px/1.5 "Helvetica Neue",Arial,Helvetica,sans-serif;}
.leaflet-left .leaflet-control-scale{margin-left:5px;}
.leaflet-bottom .leaflet-control-scale{margin-bottom:5px;}
.leaflet-control-scale-line{border:2px solid #777;border-top:none;color:black;line-height:1;font-size:10px;padding-bottom:2px;text-shadow:1px 1px 1px #fff;background-color:rgba(255, 255, 255, 0.5);}
.leaflet-control-scale-line:not(:first-child){border-top:2px solid #777;padding-top:1px;border-bottom:none;margin-top:-2px;}
.leaflet-control-scale-line:not(:first-child):not(:last-child){border-bottom:2px solid #777;}
.leaflet-touch .leaflet-control-attribution,.leaflet-touch .leaflet-control-layers{box-shadow:none;}
.leaflet-touch .leaflet-control-layers{border:5px solid #bbb;}
.leaflet-fade-anim .leaflet-tile,.leaflet-fade-anim .leaflet-popup{opacity:0;-webkit-transition:opacity 0.2s linear;-moz-transition:opacity 0.2s linear;-o-transition:opacity 0.2s linear;transition:opacity 0.2s linear;}
.leaflet-fade-anim .leaflet-tile-loaded,.leaflet-fade-anim .leaflet-map-pane .leaflet-popup{opacity:1;}
.leaflet-zoom-anim .leaflet-zoom-animated{-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.25, 0.1, 0.25, 0.75);-moz-transition:-moz-transform 0.25s cubic-bezier(0.25, 0.1, 0.25, 0.75);-o-transition:-o-transform 0.25s cubic-bezier(0.25, 0.1, 0.25, 0.75);transition:transform 0.25s cubic-bezier(0.25, 0.1, 0.25, 0.75);}
.leaflet-zoom-anim .leaflet-tile,.leaflet-pan-anim .leaflet-tile,.leaflet-touching .leaflet-zoom-animated{-webkit-transition:none;-moz-transition:none;-o-transition:none;transition:none;}
.leaflet-zoom-anim .leaflet-zoom-hide{visibility:hidden;}
.leaflet-popup{position:absolute;text-align:center;}
.leaflet-popup-content-wrapper{padding:1px;text-align:left;}
.leaflet-popup-content{margin:14px 20px;}
.leaflet-popup-tip-container{margin:0 auto;width:40px;height:20px;position:relative;overflow:hidden;}
.leaflet-popup-tip{width:15px;height:15px;padding:1px;margin:-8px auto 0;-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);}
.leaflet-container a.leaflet-popup-close-button{position:absolute;top:0;right:0;padding:4px 5px 0 0;text-align:center;width:18px;height:14px;font:16px/14px Tahoma,Verdana,sans-serif;color:#c3c3c3;text-decoration:none;font-weight:bold;}
.leaflet-container a.leaflet-popup-close-button:hover{color:#999;}
.leaflet-popup-content p{margin:18px 0;}
.leaflet-popup-scrolled{overflow:auto;border-bottom:1px solid #ddd;border-top:1px solid #ddd;}
.leaflet-container{background:#ddd;}
.leaflet-container a{color:#0078A8;}
.leaflet-container a.leaflet-active{outline:2px solid orange;}
.leaflet-zoom-box{border:2px dotted #05f;background:white;opacity:0.5;}
.leaflet-div-icon{background:#fff;border:1px solid #666;}
.leaflet-editing-icon{border-radius:2px;}
.leaflet-popup-content-wrapper,.leaflet-popup-tip{background:white;box-shadow:0 3px 10px #888;-moz-box-shadow:0 3px 10px #888;-webkit-box-shadow:0 3px 14px #999;}
.leaflet-popup-content{font:12px/1.4 "Helvetica Neue",Arial,Helvetica,sans-serif;}
.ie .leaflet-vml-shape{width:1px;height:1px;}
.ie .lvml{behavior:url(#default#VML);display:inline-block;position:absolute;}
.ie .leaflet-control{display:inline;}
.ie .leaflet-popup-tip{width:21px;_width:27px;margin:0 auto;_margin-top:-3px;filter:progid:dximagetransform.microsoft.matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);-ms-filter:"progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";}
.ie .leaflet-popup-tip-container{margin-top:-1px;}
.ie .leaflet-popup-content-wrapper,.ie .leaflet-popup-tip{border:1px solid #bbb;}
.ie .leaflet-control-zoom{filter:progid:dximagetransform.microsoft.gradient(startColorStr='#3F000000', EndColorStr='#3F000000');}
.ie .leaflet-control-zoom a{background-color:#eee;}
.ie .leaflet-control-zoom a:hover{background-color:#fff;}
.ie .leaflet-control-attribution,.ie .leaflet-control-layers{background:white;}
